Repository itsferdiardiansa/Insight-Board, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, shared-ui, utils, seo, style, tests, config, build, docs, ci, deps

docs: updated test badge
  README.md
Labels: docs

docs: added image for landing page project and some adjustment
  README.md
Labels: docs

docs: updated main documentation (#6)
  README.md
Labels: docs

chore: update renovate config
  renovate.json
Labels: none

chore: update renovate config (#8)
  renovate.json
Labels: none

feat: added some animations on some sections
  src/app/(landing)/_components/analytics-dashboard/AnalyticsDashboardHeader.tsx
  src/app/(landing)/_components/collaboration/CollaborationHeader.tsx
  src/app/(landing)/_components/conversion-banner/ConversionBanner.tsx
  src/app/(landing)/_components/conversion-banner/Statistics.tsx
  src/app/(landing)/_components/insight/InsightHeader.tsx
  src/app/(landing)/_components/powerfull-solutions/PowerfullSolutionsHeader.tsx
  src/app/(landing)/_components/product-benefits/ProductBenefitHeader.tsx
  src/app/(landing)/_components/product-plans/BillingSelector.tsx
  src/app/(landing)/_components/product-plans/ProductPlans.tsx
  src/app/(landing)/_components/testimonials/FeaturedTestimonial.tsx
  src/app/(landing)/_components/testimonials/Testimonials.tsx
Labels: none

feat: add AnimationProvider to register GSAP plugins globally
  src/app/(landing)/_components/analytics-dashboard/AnalitycsDashboard.tsx
  src/app/(landing)/_components/analytics-dashboard/AnalyticsDashboardHeader.tsx
  src/app/(landing)/_components/analytics-dashboard/MetricsSection.tsx
  src/app/(landing)/_components/collaboration/Collaboration.tsx
  src/app/(landing)/_components/collaboration/CollaborationHeader.tsx
  src/app/(landing)/_components/conversion-banner/ConversionBanner.tsx
  src/app/(landing)/_components/insight/InsightHeader.tsx
  src/app/(landing)/_components/insight/InsightImage.tsx
  src/app/(landing)/_components/insight/InsightStats.tsx
  src/app/(landing)/_components/integration/Integration.tsx
  src/app/(landing)/_components/powerfull-solutions/Features.tsx
  src/app/(landing)/_components/powerfull-solutions/PowerfullSolutions.tsx
  src/app/(landing)/_components/powerfull-solutions/PowerfullSolutionsHeader.tsx
  src/app/(landing)/_components/product-benefits/ProductBenefitHeader.tsx
  src/app/(landing)/_components/product-benefits/ProductBenefits.tsx
  src/app/(landing)/_components/product-plans/ProductPlans.tsx
  src/app/(landing)/_components/social-proof/SocialProofHeader.tsx
  src/app/(landing)/_components/social-proof/SocialProofPartners.tsx
  src/app/(landing)/_components/testimonials/FeaturedTestimonial.tsx
  src/app/(landing)/_components/testimonials/Testimonials.tsx
  src/app/layout.tsx
  src/components/providers/animation-provider/AnimationProvider.tsx
  src/components/providers/animation-provider/index.ts
Labels: none

fix: resolve asset import issues with image and SVG module declarations
  src/types/assets.d.ts
Labels: none

feat: create pricing page and some feature components
  src/app/(landing)/_components/product-plans/PlanCard.tsx
  src/app/(landing)/_components/testimonials/Testimonials.tsx
  src/app/(landing)/pricing/_components/plan-tier-list/PlanTierComparison.tsx
  src/app/(landing)/pricing/_components/plan-tier-list/PlanTierList.tsx
  src/app/(landing)/pricing/_components/plan-tier-list/index.ts
  src/app/(landing)/pricing/_components/pricing-callout/PricingCallout.tsx
  src/app/(landing)/pricing/_components/pricing-callout/index.ts
  src/app/(landing)/pricing/_components/pricing-faq/PricingFAQ.tsx
  src/app/(landing)/pricing/_components/pricing-faq/index.ts
  src/app/(landing)/pricing/page.tsx
  src/context/billing/BillingContext.tsx
  src/features/faq/components/FAQ.tsx
  src/features/faq/data/faq-data.ts
  src/features/plan/components/BillingSelector.tsx
  src/features/plan/components/FeatureItem.tsx
  src/features/plan/components/FeatureList.tsx
  src/features/plan/components/PlanCard.tsx
  src/features/plan/components/Plans.tsx
  src/features/plan/components/PricingComparisonTable.tsx
  src/features/plan/components/RecommendedBadge.tsx
  src/features/plan/data/product-plans.ts
  src/features/plan/utils/priceFormatter.ts
Labels: none

feat: create pricing page and add some feature components (#10)
  src/app/(landing)/_components/product-plans/PlanCard.tsx
  src/app/(landing)/_components/testimonials/Testimonials.tsx
  src/app/(landing)/pricing/_components/plan-tier-list/PlanTierComparison.tsx
  src/app/(landing)/pricing/_components/plan-tier-list/PlanTierList.tsx
  src/app/(landing)/pricing/_components/plan-tier-list/index.ts
  src/app/(landing)/pricing/_components/pricing-callout/PricingCallout.tsx
  src/app/(landing)/pricing/_components/pricing-callout/index.ts
  src/app/(landing)/pricing/_components/pricing-faq/PricingFAQ.tsx
  src/app/(landing)/pricing/_components/pricing-faq/index.ts
  src/app/(landing)/pricing/page.tsx
  src/context/billing/BillingContext.tsx
  src/features/faq/components/FAQ.tsx
  src/features/faq/data/faq-data.ts
  src/features/plan/components/BillingSelector.tsx
  src/features/plan/components/FeatureItem.tsx
  src/features/plan/components/FeatureList.tsx
  src/features/plan/components/PlanCard.tsx
  src/features/plan/components/Plans.tsx
  src/features/plan/components/PricingComparisonTable.tsx
  src/features/plan/components/RecommendedBadge.tsx
  src/features/plan/data/product-plans.ts
  src/features/plan/utils/priceFormatter.ts
Labels: none

feat: create auth pages for signIn and signUp
  src/app/(auth)/signin/page.tsx
  src/app/(auth)/signup/page.tsx
  src/app/layout.tsx
  src/assets/analytics-dashboard-illustration.svg
  src/components/layout/app-header/AuthButtons.tsx
  src/components/ui/button/Button.tsx
  src/components/ui/button/__tests__/__snapshots__/index.tsx.snap
  src/components/ui/button/__tests__/index.tsx
  src/components/ui/form/input/Input.stories.tsx
  src/components/ui/form/input/Input.tsx
  src/components/ui/form/input/__tests__/index.tsx
  src/components/ui/form/input/index.ts
  src/features/auth/components/AuthAnimation.tsx
  src/features/auth/components/AuthForm.tsx
  src/features/auth/components/AuthLegalNotice.tsx
  src/features/auth/components/AuthProviders.tsx
  src/features/auth/hooks/useAuthAnimation.ts
  src/features/auth/pages/SignInPage.tsx
  src/features/auth/pages/SignUpPage.tsx
Labels: none

fix: fix responsive layout and gsap animations
  src/app/(landing)/_components/analytics-dashboard/AnalitycsDashboard.tsx
  src/app/(landing)/_components/analytics-dashboard/AnalyticsDashboardHeader.tsx
  src/app/(landing)/_components/analytics-dashboard/MetricsSection.tsx
  src/app/(landing)/_components/banner/Banner.tsx
  src/app/(landing)/_components/banner/BannerContent.tsx
  src/app/(landing)/_components/banner/BannerImage.tsx
  src/app/(landing)/_components/collaboration/Collaboration.tsx
  src/app/(landing)/_components/collaboration/CollaborationFeatureItem.tsx
  src/app/(landing)/_components/collaboration/CollaborationHeader.tsx
  src/app/(landing)/_components/conversion-banner/ConversionBanner.tsx
  src/app/(landing)/_components/insight/InsightHeader.tsx
  src/app/(landing)/_components/insight/InsightStats.tsx
  src/app/(landing)/_components/integration/Integration.tsx
  src/app/(landing)/_components/powerfull-solutions/FeatureCard.tsx
  src/app/(landing)/_components/powerfull-solutions/Features.tsx
  src/app/(landing)/_components/powerfull-solutions/PowerfullSolutions.tsx
  src/app/(landing)/_components/powerfull-solutions/PowerfullSolutionsHeader.tsx
  src/app/(landing)/_components/product-benefits/ProductBenefitCard.tsx
  src/app/(landing)/_components/product-benefits/ProductBenefitHeader.tsx
  src/app/(landing)/_components/product-benefits/ProductBenefits.tsx
  src/app/(landing)/_components/product-plans/ProductPlans.tsx
  src/app/(landing)/_components/social-proof/SocialProofHeader.tsx
  src/app/(landing)/_components/social-proof/SocialProofPartners.tsx
  src/app/(landing)/_components/testimonials/FeaturedTestimonial.tsx
  src/app/(landing)/_components/testimonials/IndustryLeaders.tsx
  src/app/(landing)/_components/testimonials/Testimonials.tsx
  src/app/(landing)/page.tsx
  src/app/(landing)/pricing/_components/plan-tier-list/PlanTierList.tsx
  src/app/(landing)/pricing/_components/pricing-callout/PricingCallout.tsx
  src/app/(landing)/pricing/_components/pricing-faq/PricingFAQ.tsx
  src/app/(landing)/pricing/page.tsx
  src/assets/dahsboard-capture.png
  src/features/auth/components/AuthForm.tsx
  src/features/faq/components/FAQ.tsx
  src/features/plan/components/PlanCard.tsx
  src/features/plan/components/Plans.tsx
  src/styles/utilities/layout.css
  src/styles/utilities/typography.css
Labels: style

feat: add sticky animation on app header
  src/app/(landing)/layout.tsx
  src/components/layout/app-header/AppHeader.tsx
  src/components/ui/drawer/Drawer.tsx
Labels: none

feat: update classnames and also add callback fn
  src/app/(landing)/_components/analytics-dashboard/AnalitycsDashboard.tsx
  src/app/(landing)/_components/banner/Banner.tsx
  src/app/(landing)/_components/collaboration/Collaboration.tsx
  src/app/(landing)/_components/conversion-banner/ConversionBanner.tsx
  src/app/(landing)/_components/insight/Insight.tsx
  src/app/(landing)/_components/integration/Integration.tsx
  src/app/(landing)/_components/powerfull-solutions/PowerfullSolutions.tsx
  src/app/(landing)/_components/product-benefits/ProductBenefitCard.tsx
  src/app/(landing)/_components/product-benefits/ProductBenefits.tsx
  src/app/(landing)/_components/product-plans/ProductPlans.tsx
  src/app/(landing)/_components/social-proof/SocialProof.tsx
  src/app/(landing)/pricing/_components/plan-tier-list/PlanTierList.tsx
  src/app/(landing)/pricing/page.tsx
  src/components/layout/app-footer/AppFooter.tsx
  src/components/layout/app-header/AppHeader.tsx
  src/components/layout/app-header/Navigation.tsx
  src/features/plan/components/PlanCard.tsx
  src/styles/utilities/layout.css
Labels: style

feat: an initial setup for seo
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/file.svg
  public/globe.svg
  public/icon-192.png
  public/icon-512.png
  public/manifest.json
  public/next.svg
  public/og-image.png
  public/vercel.svg
  public/window.svg
  src/app/(landing)/layout.tsx
  src/app/(landing)/pricing/page.tsx
  src/app/favicon.ico
  src/app/layout.tsx
  src/components/core/app-footer/AppFooter.tsx
  src/components/core/app-footer/AppFooterBottom.tsx
  src/components/core/app-footer/FooterLogo.tsx
  src/components/core/app-footer/FooterNavColumn.tsx
  src/components/core/app-footer/index.ts
  src/components/core/app-header/AppHeader.stories.tsx
  src/components/core/app-header/AppHeader.tsx
  src/components/core/app-header/AuthButtons.tsx
  src/components/core/app-header/Navigation.tsx
  src/components/core/app-header/index.ts
  src/components/core/seo/JsonLd.tsx
  src/components/core/seo/index.tsx
  src/config/site-config.ts
  src/config/site-metadata.ts
  src/features/plan/data/product-plans.ts
  src/schema/homepage.ts
  src/schema/organization.ts
  src/schema/pricing.ts
  src/schema/website.ts
Labels: none

refactor: moved gsap provider
  src/app/layout.tsx
  src/context/billing/BillingContext.tsx
  src/context/billing/BillingProvider.tsx
  src/context/gsap-animation/AnimationProvider.tsx
  src/context/gsap-animation/index.ts
  src/features/plan/components/Plans.tsx
Labels: none

fix: fix app-footer layout
  src/components/core/app-footer/AppFooter.tsx
  src/components/core/app-footer/AppFooterBottom.tsx
  src/components/core/app-footer/FooterNavColumn.tsx
  src/styles/utilities/layout.css
Labels: style

feat: add blur effect on some sections
  src/app/(landing)/_components/conversion-banner/ConversionBanner.tsx
  src/app/(landing)/_components/testimonials/Testimonials.tsx
  src/app/(landing)/layout.tsx
Labels: none

style: update padding on content-block class
  src/styles/utilities/layout.css
Labels: style

feat: redesign the homepage
  src/app/(landing)/_components/analytics-dashboard/AnalitycsDashboard.tsx
  src/app/(landing)/_components/analytics-dashboard/AnalyticsDashboardHeader.tsx
  src/app/(landing)/_components/banner/Banner.tsx
  src/app/(landing)/_components/banner/BannerContent.tsx
  src/app/(landing)/_components/banner/BannerImage.tsx
  src/app/(landing)/_components/collaboration/Collaboration.tsx
  src/app/(landing)/_components/collaboration/CollaborationFeatureItem.tsx
  src/app/(landing)/_components/collaboration/CollaborationHeader.tsx
  src/app/(landing)/_components/conversion-banner/ConversionBanner.tsx
  src/app/(landing)/_components/insight/Insight.tsx
  src/app/(landing)/_components/insight/InsightHeader.tsx
  src/app/(landing)/_components/powerfull-solutions/FeatureCard.tsx
  src/app/(landing)/_components/powerfull-solutions/Features.tsx
  src/app/(landing)/_components/powerfull-solutions/PowerfullSolutions.tsx
  src/app/(landing)/_components/powerfull-solutions/PowerfullSolutionsHeader.tsx
  src/app/(landing)/_components/product-benefits/ProductBenefitCard.tsx
  src/app/(landing)/_components/product-benefits/ProductBenefitHeader.tsx
  src/app/(landing)/_components/product-benefits/ProductBenefits.tsx
  src/app/(landing)/_components/product-plans/ProductPlans.tsx
  src/app/(landing)/_components/social-proof/SocialProof.tsx
  src/app/(landing)/_components/social-proof/SocialProofPartners.tsx
  src/app/(landing)/_components/testimonials/IndustryLeaders.tsx
  src/app/(landing)/_components/testimonials/Testimonials.tsx
  src/app/(landing)/page.tsx
  src/app/(landing)/pricing/_components/pricing-callout/PricingCallout.tsx
  src/assets/partners/amazon-custom.svg
  src/assets/partners/microsoft.svg
  src/assets/today-transactions.png
  src/components/core/app-header/AppHeader.tsx
  src/components/ui/badge/Badge.tsx
  src/components/ui/button/Button.tsx
  src/features/plan/components/BillingSelector.tsx
  src/features/plan/components/FeatureItem.tsx
  src/features/plan/components/FeatureList.tsx
  src/features/plan/components/PlanCard.tsx
  src/features/plan/components/Plans.tsx
  src/features/plan/components/RecommendedBadge.tsx
  src/features/plan/utils/priceFormatter.ts
  src/styles/utilities/layout.css
  src/styles/utilities/typography.css
Labels: style

feat: update the related assets on testimonial and conversion banner sections
  src/app/(landing)/_components/conversion-banner/Statistics.tsx
  src/app/(landing)/_components/testimonials/Testimonials.tsx
  src/app/(landing)/page.tsx
  src/assets/images/leaders/anthony-white.jpg
  src/assets/images/leaders/christian-buehner.jpg
  src/assets/images/leaders/daniela-moore.jpg
  src/assets/images/leaders/james-carter.jpg
  src/assets/images/user-members.png
  src/assets/images/users/userNova21.jpg
Labels: none

feat: layout improvement
  src/app/(landing)/_components/banner/Banner.tsx
  src/app/layout.tsx
  src/components/core/app-footer/AppFooter.tsx
  src/components/core/app-header/AppHeader.tsx
  src/components/core/app-header/Navigation.tsx
  src/styles/globals.css
Labels: style

style: shorten auth divider text
  src/features/auth/components/AuthForm.tsx
Labels: none

feat: add not-found and error pages
  src/app/(landing)/layout.tsx
  src/app/error.tsx
  src/app/not-found.tsx
  src/components/core/error/ErrorDisplay.tsx
  src/components/core/error/ErrorDisplayContent.tsx
  src/components/core/error/index.ts
  src/components/core/layout/BaseLayout.tsx
  src/components/core/layout/index.ts
  src/components/ui/fabric-layer/FabricLayer.tsx
  src/components/ui/fabric-layer/index.ts
  src/features/newsletter/components/Newsletter.tsx
  src/features/plan/components/BillingSelector.tsx
  src/styles/utilities/layout.css
Labels: style

fix: resolve PlanCard animation flickering by stabilizing GSAP refs
  src/features/plan/components/Plans.tsx
Labels: none

style: restyle home and pricing pages
  src/app/(landing)/landing.css
  src/app/(landing)/pricing/_components/plan-tier-list/PlanTierList.tsx
  src/app/(landing)/pricing/_components/pricing-callout/PricingCallout.tsx
  src/app/(landing)/pricing/page.tsx
  src/features/plan/components/PricingComparisonTable.tsx
Labels: style

style: wrap chevron icon with span and change text size on answer
  src/features/faq/components/FAQ.tsx
Labels: none

fix: set sub title display to be center
  src/app/(landing)/page.tsx
  src/components/core/error/ErrorDisplayContent.tsx
Labels: none

feat: error pages (#13)
  src/app/(landing)/landing.css
  src/app/(landing)/layout.tsx
  src/app/(landing)/page.tsx
  src/app/(landing)/pricing/_components/plan-tier-list/PlanTierList.tsx
  src/app/(landing)/pricing/_components/pricing-callout/PricingCallout.tsx
  src/app/(landing)/pricing/page.tsx
  src/app/error.tsx
  src/app/not-found.tsx
  src/components/core/error/ErrorDisplay.tsx
  src/components/core/error/ErrorDisplayContent.tsx
  src/components/core/error/index.ts
  src/components/core/layout/BaseLayout.tsx
  src/components/core/layout/index.ts
  src/components/ui/fabric-layer/FabricLayer.tsx
  src/components/ui/fabric-layer/index.ts
  src/features/faq/components/FAQ.tsx
  src/features/newsletter/components/Newsletter.tsx
  src/features/plan/components/BillingSelector.tsx
  src/features/plan/components/Plans.tsx
  src/features/plan/components/PricingComparisonTable.tsx
  src/styles/utilities/layout.css
Labels: style

fix: change incorrect status code text
  src/components/core/error/ErrorDisplayContent.tsx
Labels: none

fix: remove an exception that triggered an error 500
  src/app/(landing)/page.tsx
Labels: none

fix: display error code (#14)
  src/app/(landing)/page.tsx
  src/components/core/error/ErrorDisplayContent.tsx
Labels: none

style: restyle landing, social partners, pricing, .etc
  src/app/(main)/_components/core-benefit/CoreBenefit.tsx
  src/app/(main)/_components/home-banner/HomeBanner.tsx
  src/app/(main)/_components/social-proof/SocialProof.tsx
  src/app/(main)/_components/social-proof/SocialProofPartners.tsx
  src/app/(main)/_components/social-proof/social-proof-data.ts
  src/app/(main)/features/_components/advantages/Advantages.tsx
  src/app/(main)/features/_components/feature-showcase/feature-showcase-data.ts
  src/app/(main)/features/page.tsx
  src/app/(main)/landing.css
  src/app/(main)/layout.tsx
  src/app/(main)/page.tsx
  src/app/(main)/pricing/_components/plan-tier/PlanTierComparison.tsx
  src/app/(main)/pricing/page.tsx
  src/app/account/subscriptions/checkout/_components/checkout-flow/CheckoutFlow.tsx
  src/assets/logo/partners/paypal.svg
  src/assets/logo/partners/reddit.svg
  src/components/layout/BaseLayout.tsx
  src/components/layout/PlainLayout.tsx
  src/components/layout/app-header/AppHeader.tsx
  src/components/layout/banner/Banner.tsx
  src/components/layout/banner/index.ts
  src/features/checkout/components/billing/BillingInfo.tsx
  src/features/plan/components/PricingPlanCard.tsx
  src/styles/globals.css
  src/styles/themes/color.css
Labels: style

chore(scripts): split deploy command into preview and production modes
  package.json
Labels: deps

perf: reduce image size
  src/app/(main)/_components/home-banner/HomeBannerImage.tsx
  src/app/(main)/_components/insight/InsightImage.tsx
  src/app/(main)/_components/powerfull-solutions/PowerfullSolutions.tsx
  src/app/(main)/features/_components/advantages/Advantages.tsx
  src/app/(main)/features/_components/integrated-flow/IntegratedFlow.tsx
  src/app/(main)/features/_components/integrated-flow/integrated-flow-data.ts
  src/components/layout/sections/feature/FeatureGrid.tsx
  src/features/testimonials/components/IndustryLeaders.tsx
Labels: none

perf: improve some web vitals for better accessibility and seo
  src/app/(main)/_components/home-banner/HomeBanner.tsx
  src/app/(main)/_components/home-banner/HomeBannerImage.tsx
  src/app/(main)/_components/powerfull-solutions/PowerfullSolutions.tsx
  src/app/(main)/_components/social-proof/SocialProof.tsx
  src/app/(main)/_components/social-proof/SocialProofPartners.tsx
  src/app/(main)/page.tsx
  src/app/account/subscriptions/checkout/_components/checkout-flow/CheckoutFlow.tsx
  src/app/layout.tsx
  src/components/layout/BaseLayout.tsx
  src/components/layout/app-header/AppHeader.tsx
  src/components/layout/banner/Banner.stories.tsx
  src/components/layout/banner/Banner.tsx
  src/components/ui/brand-logo/BrandLogo.tsx
  src/components/ui/brand-logo/__tests__/__snapshots__/index.tsx.snap
  src/components/ui/button/Button.tsx
  src/components/ui/button/__tests__/__snapshots__/index.tsx.snap
  src/features/checkout/components/plan-options/PlanOptionFeature.tsx
  src/features/plan/components/PricingPlanCard.tsx
  src/features/plan/components/PricingPlanFeature.tsx
  src/features/plan/components/PricingPlanFeatures.tsx
  src/features/plan/components/PricingPlanSelector.tsx
  src/features/testimonials/components/IndustryLeaders.tsx
  src/styles/globals.css
Labels: style

style: restyle disable button and partner icons
  src/app/(main)/_components/social-proof/SocialProofPartners.tsx
  src/components/ui/button/Button.tsx
  src/styles/themes/color.css
Labels: style

docs: update homepage screenshot
  README.md
Labels: docs

chore: update package.json
  package.json
Labels: deps

chore: update package.json (#17)
  package.json
Labels: deps

.github/labeler.yml:

feat:
  - changed-files:
    - any-glob-to-any-file: 
      - 'app/**'

shared-ui:
  - changed-files:
    - any-glob-to-any-file: 
      - 'components/**'

utils:
  - changed-files:
    - any-glob-to-any-file:
      - 'utils/**'
      - 'lib/**'
      - 'helpers/**'

seo:
  - changed-files:
    - any-glob-to-any-file:
      - 'app/**/metadata.ts'
      - 'app/robots.txt'
      - 'app/sitemap.xml'

style:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.css'
      - '**/*.scss'
      - '**/*.sass'
      - 'styles/**'
      - 'theme/**'
      - 'tailwind.config.*'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '__tests__/**'

config:
  - changed-files:
    - any-glob-to-any-file:
      - '.eslintrc*'
      - '.prettierrc*'
      - '*.config.*'
      - 'tsconfig.*'
      - '.lintstagedrc.js'
      - 'jest.setup.js'
      - 'tsconfig.json'

build:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**'

docs:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**'
      - '**/*.md'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

deps:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'pnpm-lock.yaml'
